<div class="container-fluid">
  <section class="container">
    <div class="container-page">
      <div class="col-md-6 float-left">
        <h3 class="dark-grey">Registration</h3>

        <form (submit)="formRegister.form.valid && password.value == confirm_password.value && register()" [formGroup]="registerForm"
          #formRegister="ngForm">

          <div class="form-group col-lg-12">
            <label>Username</label>
            <input type="text" name="username" class="form-control" id="username" formControlName="username" required>
            <div *ngIf="username.invalid && formRegister.submitted" class="alert-msg">
              <div *ngIf="username.errors.required">
                Username is required.
              </div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 4 characters long.
              </div>
            </div>
          </div>

          <div formGroupName="passwords">
            <div class="form-group col-lg-6 float-left">
              <label>Password</label>
              <input type="password" name="password" class="form-control" id="password" formControlName="password" required>
            </div>

            <div class="form-group col-lg-6 hide-overflow">
              <label>Repeat Password</label>
              <input type="password" name="confirm_password" class="form-control" id="confirm_password" formControlName="confirm_password">
            </div>
          </div>

          <div *ngIf="password.invalid && formRegister.submitted" class="alert-msg col-lg-12">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters long.
            </div>
          </div>

          <div *ngIf="password.value != confirm_password.value && confirm_password.value != null" class="alert-msg col-lg-12">
            Password does not match
          </div>

          <div class="form-group col-lg-6">
            <label>Email Address</label>
            <input type="email" name="email" class="form-control" id="email" formControlName="email" required>
          </div>

          <div *ngIf="email.invalid && formRegister.submitted" class="alert-msg col-lg-6">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.email">
              Invalid email format!
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" class="checkbox" /> Sign up for our newsletter
          </div>

          <div class="col-sm-12">
            <input type="checkbox" class="checkbox" /> Send notifications to this email
          </div>

          <div class="col-lg-6 button-create">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>

        </form>

      </div>

      <div class="col-md-6 hide-overflow">
        <h3 class="dark-grey">Terms and Conditions</h3>
        <p>
          By clicking on "Register" you agree to The Company's' Terms and Conditions
        </p>
        <p>
          While rare, prices are subject to change based on exchange rate fluctuations - should such a fluctuation happen, we may request
          an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
        </p>
        <p>
          Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
        </p>
        <p>
          Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
        </p>

      </div>
    </div>
  </section>
</div>