.meal-nutritional {
    font-size: 14px;
    font-weight: normal;
}

.product-wrapper {
    padding-left: 1em;
    font-weight: normal;
    font-size: 16px;
}

.product-wrapper hr {
    border-color: #fff;
}

.product-heading {
    padding-top: .5em;
    font-weight: 500;
    font-size: 18px;
}

.table-borderless {
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-stretch:100%;
    font-weight:300;
    height:17px;
    font-size:14px;    
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    line-height:16.9px;    
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    vertical-align:top;    
    text-size-adjust:100%;    
    -webkit-border-horizontal-spacing:0px;
    -webkit-border-vertical-spacing:0px;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);    
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th {
    border: none;
}

.table-borderless thead > tr > th {
    color:rgb(236, 229, 229);
    font-weight:600;
    height:16px;
    padding-left:0px;
    padding-right:0px;
    overflow-x:hidden;
    overflow-y:hidden;
    text-align:right;
    text-overflow:ellipsis;
    text-transform:uppercase;
    white-space:nowrap;
    width:62px;
}

.table-borderless thead > tr .col-50 {
    text-align:left;
    padding-left: 10px;
}

.table-borderless tbody > tr .binding,
.table-borderless tfoot > tr .binding {
    color:rgb(230, 230, 230);
    padding-bottom:5px;
    padding-right:0px;
    padding-top:5px;
    text-align:right;
    width:52px;
}

.table-borderless tbody > tr .product-name {
    color:rgb(230, 230, 230);
    padding-bottom:5x;
    padding-left:15px;
    padding-right:0px;
    padding-top:5px;
    position:relative;
    width:72px;  
}

.table-borderless tfoot > tr > td {
    color:rgb(236, 229, 229);
    font-weight:600;
    height:32px;
    vertical-align:middle;
    width:144px;
}

.table-borderless tfoot > tr .bold {
    color:rgb(236, 229, 229);
}

.close-btn {
    color:rgb(199, 199, 199);
    text-shadow:none;
}

.edit-btn {
    color:rgb(199, 199, 199);
    text-shadow:none;
    font-size: 18px;
    padding-top: 3px;
    padding-right: 7px;
}

.product-btn {
    color:rgb(126, 185, 62);
    font-weight:600;
    padding-left:18px;
    text-decoration-color:rgb(126, 185, 62);
    text-decoration-line:underline;
    text-transform:uppercase;
}

.meal-box {
    border-top-color:rgb(126, 185, 62);
    border-top-style: solid;
    border-top-width: 3px;
}

.meal-header {
    margin-top: 10px;
}

.input-editor {
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    border-bottom-color:rgb(49, 143, 223);
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color:rgb(0, 0, 0);
    border-left-style:solid;
    border-left-width:0px;
    border-right-color:rgb(0, 0, 0);
    border-right-style:solid;
    border-right-width:0px;
    border-top-color:rgb(0, 0, 0);
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-top-style:solid;
    border-top-width:0px;
    color:rgb(49, 143, 223);
    cursor:pointer;
    float:left;
    font-size:15px;
    font-weight:600;
    width:55px;
}


.product-editor {
    background-color:rgba(0, 0, 0, 0);
    border-bottom-color:rgb(144, 144, 144);
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-left-color:rgb(144, 144, 144);
    border-left-style:solid;
    border-left-width:0px;
    border-right-color:rgb(144, 144, 144);
    border-right-style:solid;
    border-right-width:0px;
    border-top-color:rgb(144, 144, 144);
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-top-style:solid;
    border-top-width:0px;
    color:rgb(201, 76, 76);
    font-family:Lato, Helvetica, Arial, sans-serif;
    font-size:22px;
    height:35px;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;
    width:235px;   
}

.add-product-btn {
    margin-top: 10px;
}