<div *ngIf="loginService.isLoggedIn()" class="btn-wrapper center">
    <a class="btn btn-lg btn-success" routerLink="/products/add-product">Add new product</a>
</div>



<div class="form-wrapper center">
    <ng-template #rt let-r="result" let-t="term">
        {{ r.name}}
    </ng-template>

    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="term" [ngbTypeahead]="search" [resultTemplate]="rt"
        [inputFormatter]="formatter" placeholder="Search product"/>
</div>

<div class="data-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th (click)="setSortBy('name')">Product name
                    <i class="fa fa-sort" *ngIf="sortName != 'name'" (click)="reverseSorting()"></i>
                    <i class="fa fa-sort-desc" *ngIf="!reverseSort && sortName === 'name'" (click)="reverseSorting()"></i>
                    <i class="fa fa-sort-asc" *ngIf="reverseSort && sortName === 'name'" (click)="reverseSorting()"></i>
                </th>
                <th>Calories</th>
                <th (click)="setSortBy('category.name')">Category  
                    <i class="fa fa-sort" *ngIf="sortName != 'category.name'" (click)="reverseSorting()"></i>
                    <i class="fa fa-sort-desc" *ngIf="!reverseSort && sortName === 'category.name'" (click)="reverseSorting()"></i>
                    <i class="fa fa-sort-asc" *ngIf="reverseSort && sortName === 'category.name'" (click)="reverseSorting()"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | filter:term | orderBy: sortName : reverseSort; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.nutritionalValues.calories }}</td>
                <td>{{ product.category.name }}</td>
                <td><a routerLink="/products/{{product.id}}">DETAILS --></a></td>
            </tr>
        </tbody>
    </table>
</div>