<div class="cover-container">
  <div class="center input-wrapper">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-black/bfa/bfa_calendar/bfa_calendar_simple-black_128x128.png"
              style="width: 1.2rem; height: 1rem; cursor: pointer;" />
          </button>
          <button class="btn btn-primary button-style" (click)="summary()">Calculate</button>
        </div>
      </div>
    </form>
  </div>

  <div class="data-wrapper" *ngIf="dayNoExist()">

    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            Consumed {{dailyCalories.nutritionalValues.calories}} / 2500 kcal
            <ngb-progressbar type="success" [value]="(dailyCalories.nutritionalValues.calories * 100) / 2500"></ngb-progressbar>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>
            <ngb-progressbar type="info" [value]="(dailyCalories.nutritionalValues.proteins * 100) / 130"></ngb-progressbar>
            Proteins {{dailyCalories.nutritionalValues.proteins}} / 130 g
          </p>
        </div>
        <div class="col-sm">
          <p>
            <ngb-progressbar type="warning" [value]="(dailyCalories.nutritionalValues.fats * 100) / 100"></ngb-progressbar>
            Fats {{dailyCalories.nutritionalValues.fats}} / 100 g
          </p>
        </div>
        <div class="col-sm">
          <p>
            <ngb-progressbar type="violet" [value]="(dailyCalories.nutritionalValues.carbs * 100) / 350"></ngb-progressbar>
            Carbs {{dailyCalories.nutritionalValues.carbs}} / 350 g
          </p>
        </div>
      </div>
    </div>

    <div class="meals-wrapper">
      <div *ngFor="let meal of dailyCalories.meals">
        <div ng-controller="meal" class="meal-box">
          <header class="meal-header">
            <h3 class="float-left">{{meal.name}}</h3>
            <button class="close close-btn" (click)="deleteMeal(meal)">&#10006;</button>
          </header>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="col-50">Product</th>
                <th>Amount</th>
                <th>KCAL</th>
                <th>Prot.</th>
                <th>Fats</th>
                <th>Carbs</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pm of meal.productMeals">
                <td class="product-name">{{ pm.product.name }}</td>
                <td class="binding">{{ pm.amount * 100 }} g</td>
                <td class="binding">{{ pm.product.nutritionalValues.calories * pm.amount }}</td>
                <td class="binding">{{ pm.product.nutritionalValues.proteins * pm.amount }}</td>
                <td class="binding">{{ pm.product.nutritionalValues.fats * pm.amount }}</td>
                <td class="binding">{{ pm.product.nutritionalValues.carbs * pm.amount }}</td>
                <td class="binding">
                  <button class="close close-btn" (click)="deleteProduct(pm)">&times;</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <strong class="product-btn" role="button" (click)="newProduct()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add new product
                  </strong>
                </td>
                <td class="bold binding">{{meal.nutritionalValues.calories}}</td>
                <td class="bold binding">{{meal.nutritionalValues.proteins}}</td>
                <td class="bold binding">{{meal.nutritionalValues.fats}}</td>
                <td class="bold binding">{{meal.nutritionalValues.carbs}}</td>
                <td class="bold binding"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>