.input-wrapper {
    margin-bottom: 5em;
}

.button-style {
    margin-left: 1em;
}



ngb-progressbar >>> .bg-violet {
    background-color: #8a2be2;
}

ngb-accordion >>> .card {
    background-color: #333;
    border: initial;
    font-size: 18px;
}

ngb-accordion >>> .card-header {
    background-color: #413E3E;
    border: .05rem solid #8b909e;
    font-size: 20px;
}

ngb-accordion >>> a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.meals-wrapper {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.meal-nutritional {
    font-size: 14px;
    font-weight: normal;
}

.product-wrapper {
    padding-left: 1em;
    font-weight: normal;
    font-size: 16px;
}

.product-wrapper hr {
    border-color: #fff;
}

.product-heading {
    padding-top: .5em;
    font-weight: 500;
    font-size: 18px;
}

.table-borderless {
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-stretch:100%;
    font-weight:300;
    height:17px;
    font-size:14px;    
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    line-height:16.9px;    
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    vertical-align:top;    
    text-size-adjust:100%;    
    -webkit-border-horizontal-spacing:0px;
    -webkit-border-vertical-spacing:0px;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);    
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th {
    border: none;
}

.table-borderless thead > tr > th {
    color:rgb(236, 229, 229);
    font-weight:600;
    height:16px;
    padding-left:0px;
    padding-right:0px;
    overflow-x:hidden;
    overflow-y:hidden;
    text-align:right;
    text-overflow:ellipsis;
    text-transform:uppercase;
    white-space:nowrap;
    width:62px;
}

.table-borderless thead > tr .col-50 {
    text-align:left;
    padding-left: 10px;
}

.table-borderless tbody > tr .binding,
.table-borderless tfoot > tr .binding {
    color:rgb(230, 230, 230);
    padding-bottom:5px;
    padding-right:0px;
    padding-top:5px;
    text-align:right;
    width:52px;
}

.table-borderless tbody > tr .product-name {
    color:rgb(230, 230, 230);
    padding-bottom:5x;
    padding-left:15px;
    padding-right:0px;
    padding-top:5px;
    position:relative;
    width:72px;  
}

.table-borderless tfoot > tr > td {
    color:rgb(236, 229, 229);
    font-weight:600;
    height:32px;
    vertical-align:middle;
    width:144px;
}

.table-borderless tfoot > tr .bold {
    color:rgb(236, 229, 229);
}

.table-borderless tbody > tr > td .close-btn {
    color:rgb(199, 199, 199);
    text-shadow:none;
}

.product-btn {
    color:rgb(126, 185, 62);
    font-weight:600;
    padding-left:18px;
    text-decoration-color:rgb(126, 185, 62);
    text-decoration-line:underline;
    text-transform:uppercase;
}
