<div class="data-wrapper" *ngIf="product">
  <table class="table">
    <thead>
      <tr>
        <th>Product name</th>
        <th>Category</th>
        <th>kcal/100g</th>
        <th>proteins/100g</th>
        <th>fats/100g</th>
        <th>carbs/100g</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.nutritionalValues.calories}}</td>
        <td>{{product.nutritionalValues.proteins}}</td>
        <td>{{product.nutritionalValues.fats}}</td>
        <td>{{product.nutritionalValues.carbs}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="data-wrapper">

  <div class="opinion-create">
    <form (submit)="addOpinion()">
      <div class="form-group">
        <textarea [(ngModel)]="opinionBody" class="form-control" id="opinion" name="opinion" rows="3" maxlength="60" placeholder="Short description(max 60 characters)">
        </textarea>
      </div>
      <div class="star-rating">
        <ngb-rating [(rate)]="currentRate" max="5">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="button-create">
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!loginService.isLoggedIn()">Add opinion</button>
      </div>
    </form>
  </div>

  <div class="opinions-header">
    <h2>Opinions</h2>
  </div>

  <div class="opinions-content" *ngFor="let opinion of opinions">
    <hr>
    <div class="opinions-decoration">
      <div class="opinion-rating float-left">
        Rating:
        <ngb-rating [(rate)]="opinion.rating" [readonly]="true" max="5">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="opinion-buttons">
        <button class="btn btn-danger" (click)="deleteOpinion(opinion)" *ngIf="canDeleteOpinion(opinion)">Delete</button>
      </div>
      <div class="opinion-date">
        Date added: {{ opinion.addDate }}
      </div>
      <div class="opinion-creator">
        Added by: {{ opinion.user.username }}
      </div>
      <div class="opinion-description">
        Description: {{ opinion.description }}
      </div>
    </div>
  </div>

</div>