<section class="container">
  <div class="container-page center">				
    <div class="col-md-8">
      <h3 class="dark-grey">Add new product</h3>
      <form (submit)="createProduct()">

      <div class="form-group col-lg-12">
        <label>Product name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Product name" 
          [(ngModel)]="nameInput" required>
      </div>
      
      <div class="form-group col-lg-6 float-left">
        <label>Calories /100g</label>
        <input type="number" name="calories" class="form-control" id="calories" placeholder="calories"
          [(ngModel)]="caloriesInput" required>
      </div>
      
      <div class="form-group col-lg-6 hide-overflow">
        <label>Proteins /100g</label>
        <input type="number" name="proteins" class="form-control" id="proteins" placeholder="proteins"
        [(ngModel)]="proteinsInput" required>
      </div>
              
      <div class="form-group col-lg-6 float-left">
        <label>Fats /100g</label>
        <input type="number" name="fats" class="form-control" id="fats" placeholder="fats"
        [(ngModel)]="fatsInput" required>
      </div>
      
      <div class="form-group col-lg-6 hide-overflow">
        <label>Carbs /100g</label>
        <input type="number" name="carbs" class="form-control" id="carbs" placeholder="carbs"
        [(ngModel)]="carbsInput" required>
      </div>

      <div class="form-group col-lg-12">
          <label>Category</label>
          <select class="form-control" id="category"  [(ngModel)]="categoryInput" name="category" required>
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
          </select>
      </div>

      <div class="button-create">
        <button type="submit" class="btn btn-lg btn-primary">Add product</button>	
      </div>

    </form>

    </div>
  </div>
</section>
