.hide-overflow {
    overflow: hidden;
}

label {
    font-size: 18px;
}

.button-create {
    margin-top: 2em;
    margin-right: 1em;
    text-align: right;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.divider {
    padding: .8em;
}