html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.center {
  display: flex;
  justify-content: center;
}

.alert-msg {
  color: red;
}

.data-wrapper {
  width: 72em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 72rem;
  }
}
